<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>gest_stock</title>
    </head>
    <body>
        <header class="template-head">
            <div class="app-logo">
                <img src="./assets/" loading="lazy" alt="logo gest_stock">
                <h1>gest_stock</h1>
            </div>
            <div class="tools">
                <div class="toggle-lang">
                    <select name="lang" id="lang">
                        <option value="fr" selected>french</option>
                        <option value="en">english</option>
                    </select>
                </div>
                <div class="options">
                    <select name="options" id="options">
                        <option value="profile">Profile</option>
                        <option value="logout">Logout</option>
                    </select>
                </div>
            </div>
        </header>
        <main class="template">
            <nav class="sidebar">
                <header>
                    <img src="./assets/" alt="app-logo" loading="eager">
                    <h1>PAMEL-MARKET</h1>
                </header>
                <ul class="nav-link">
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Dashboard</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Produits</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Commandes</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Analyses</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Stock</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Toutes les commandes</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Configuration</a></li>
                    <li><a href="#" target="_blank" rel="noopener noreferrer">Deconnexion</a></li>
                </ul>
            </nav>
            <div class="content">
                <section class="items1">
                    <section class="prices">
                        <h2>Commande</h2>
                        <p class="price"></p>
                        <div class="actu">
                            <img src="" alt="">
                            <p class="update"></p>
                        </div>
                        <img src="./assets/" alt="card-stats" class="card">
                    </section>
                    <section class="prices">
                        <h2>Vente</h2>
                        <p class="price"></p>
                        <div class="actu">
                            <img src="" alt="">
                            <p class="update"></p>
                        </div>
                        <img src="./assets/" alt="card-stats" class="card">
                    </section>
                    <section class="prices">
                        <h2>Produit</h2>
                        <p class="price"></p>
                        <div class="actu">
                            <img src="" alt="">
                            <p class="update"></p>
                        </div>
                        <img src="./assets/" alt="card-stats" class="card">
                    </section>
                    <section class="prices">
                        <h2>Revenu</h2>
                        <p class="price"></p>
                        <div class="actu">
                            <img src="" alt="">
                            <p class="update"></p>
                        </div>
                        <img src="./assets/" alt="card-stats" class="card">
                    </section>
                </section>
                <section class="items2">
                    <section class="sub-item1">
                        <h1>Ventes re&acute;centes</h1>
                        <table>
                            <thead>
                                <th>
                                    <td></td>
                                </th>
                                <th>
                                    <td></td>
                                </th>
                                <th>
                                    <td></td>
                                </th>
                                <th>
                                    <td></td>
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                            </tbody>
                            <tfoot><button></button></tfoot>
                        </table>
                    </section>
                    <section class="sub-item">
                        <table>
                            <thead>
                                <th>
                                    <td></td>
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </section>
            </div>
        </main>
        <!-- <footer class="template-footer"></footer> -->
    </body>
</html>